
.lcs-cell{
    border-style: dotted;
    border-width: 1px;
    width: 40px;
    height: 40px;
    padding-top: 10px;
}

.scroll-box{
    overflow: auto;
}

.fill-all{
    width: 98%;
    height: 98%;
}

.base-view{
    width: 100%;
    height: 970px;
}
.lcs-selected{
    background-color: yellow;
}
.arrow-left{
}

.arrow-up{
}

.arrow-diag{
}